body{
background:#020617;
color:white;
font-family:Arial;
margin:0;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:linear-gradient(90deg,#6366f1,#22c55e);
}

.menu button{
margin-left:10px;
padding:10px 20px;
border:none;
border-radius:8px;
background:#6366f1;
color:white;
}

#chatbox{
height:450px;
overflow:auto;
padding:20px;
}

.msg{
background:#1e293b;
padding:10px;
border-radius:8px;
margin-bottom:10px;
}

.inputArea{
display:flex;
padding:20px;
}

.inputArea input{
flex:1;
padding:10px;
border-radius:10px;
border:none;
}

.inputArea button{
margin-left:10px;
padding:10px 20px;
border:none;
border-radius:10px;
background:#6366f1;
color:white;
}

.ticket{
background:#1e293b;
padding:20px;
border-radius:10px;
margin:15px;
}

.ticket select,
.ticket input{
margin-top:10px;
padding:6px;
border-radius:6px;
border:none;
}
